<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luna.meal.mapper.MealSeriesMapper">

    <resultMap type="com.luna.meal.entity.MealSeries" id="MealSeriesResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="seriesName" column="series_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="table_field">
      id, sort, series_name, create_time, modified_time, version      
    </sql>

    <!--通过Id查询单个-->
    <select id="getById" resultMap="MealSeriesResultMap" parameterType="java.lang.Long">
        select
        <include refid="table_field"/>
        from tb_meal_series
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--通过实体不为空的属性作为筛选条件查询列表-->
    <select id="listByEntity" resultMap="MealSeriesResultMap" parameterType="com.luna.meal.entity.MealSeries">
        select
        <include refid="table_field"/>
        from tb_meal_series
        <where>
            <if test="id != null  ">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="sort != null  ">
                and sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="seriesName != null  and seriesName != '' ">
                and series_name = #{seriesName,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null  ">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="modifiedTime != null  ">
                and modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="version != null  ">
                and version = #{version,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个-->
    <select id="getByEntity" resultMap="MealSeriesResultMap" parameterType="com.luna.meal.entity.MealSeries">
        select
        <include refid="table_field"/>
        from tb_meal_series
        <where>
            <if test="id != null  ">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="sort != null  ">
                and sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="seriesName != null  and seriesName != '' ">
                and series_name = #{seriesName,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null  ">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="modifiedTime != null  ">
                and modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="version != null  ">
                and version = #{version,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--通过Id列表作为筛选条件查询列表，列表长度不为0-->
    <select id="listByIds" resultMap="MealSeriesResultMap" parameterType="list">
        select
        <include refid="table_field"/>
        from tb_meal_series
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <!--新增实体属性不为null的列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.luna.meal.entity.MealSeries">
        insert into tb_meal_series
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sort != null  ">
                sort,
            </if>
            <if test="seriesName != null  ">
                series_name,
            </if>
            create_time,
            modified_time,
            version,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sort != null  ">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="seriesName != null  ">
                #{seriesName,jdbcType=VARCHAR},
            </if>
            now(),
            now(),
            0,
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into tb_meal_series
        (
        sort
        ,
        series_name
        ,
        create_time
        ,
        modified_time
        ,
        version
        )
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
            ( #{item.sort,jdbcType=INTEGER}
            ,
            #{item.seriesName,jdbcType=VARCHAR}
            ,
            now() ,
            now() ,
            0 ,
            )
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="com.luna.meal.entity.MealSeries">
        update tb_meal_series
        <set>
            <if test="sort != null  ">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="seriesName != null  ">
                series_name = #{seriesName,jdbcType=VARCHAR},
            </if>
            modified_time = now(),
            version = version + 1,
        </set>
        where id = #{id,jdbcType=INTEGER}
        and version = #{version,jdbcType=OTHER}
    </update>

    <!--通过表字段修改实体属性不为null的列-->
    <update id="updateByField">
        update tb_meal_series
        <set>

            <if test="where.sort == null and set.sort != null">
                sort = #{set.sort,jdbcType=INTEGER},
            </if>

            <if test="where.seriesName == null and set.seriesName != null">
                series_name = #{set.seriesName,jdbcType=VARCHAR},
            </if>


            modified_time = now(),

            version = version + 1,
        </set>
        <where>
            <if test="where.id != null and id != ''">
                and id = #{where.id,jdbcType=INTEGER}
            </if>
            <if test="where.sort != null and sort != ''">
                and sort = #{where.sort,jdbcType=INTEGER}
            </if>
            <if test="where.seriesName != null and seriesName != ''">
                and series_name = #{where.seriesName,jdbcType=VARCHAR}
            </if>
            <if test="where.createTime != null and createTime != ''">
                and create_time = #{where.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="where.modifiedTime != null and modifiedTime != ''">
                and modified_time = #{where.modifiedTime,jdbcType=TIMESTAMP}
            </if>
            and version = #{version,jdbcType=OTHER}
        </where>
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update tb_meal_series
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="sort = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.sort}
                </foreach>
            </trim>
            <trim prefix="series_name = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.seriesName}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then #{item.createTime}
                </foreach>
            </trim>
            <trim prefix="modified_time = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} then now()
                </foreach>
            </trim>
            <trim prefix="version = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id = #{item.id} and version = #{item.version} then #{item.version} + 1
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from tb_meal_series where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="com.luna.meal.entity.MealSeries">
        delete from tb_meal_series
        <where>
            <if test="sort != null  ">
                and sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="seriesName != null  ">
                and series_name = #{seriesName,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null  ">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="modifiedTime != null  ">
                and modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
            </if>
            and version = #{version,jdbcType=OTHER}
        </where>
    </delete>

    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from tb_meal_series where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="countAll" resultType="int">
        select count(id) from tb_meal_series
    </select>

    <select id="countByEntity" parameterType="com.luna.meal.entity.MealSeries" resultType="int">
        select count(id) from tb_meal_series
        <where>
            <if test="id != null  ">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="sort != null  ">
                and sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="seriesName != null  ">
                and series_name = #{seriesName,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null  ">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="modifiedTime != null  ">
                and modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="version != null  ">
                and version = #{version,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>
